<div class="fixed inset-0 bg-black/60 overflow-y-auto p-10 z-50" (click)="closeModal()">
  <div
    class="w-[500px] rounded-lg p-6 space-y-5 m-y-10 mx-auto dark:bg-surface-dark bg-surface dark:text-surface text-darkest"
    (click)="$event.stopPropagation()"
  >
    <h2 class="text-xl font-bold">Edit Board</h2>

    <form
      [formGroup]="form"
      (ngSubmit)="updateBoard()"
      class="space-y-4 dark:text-surface text-surface-dark"
    >
      <div>
        <label class="text-xs text-foreground">Board Name</label>

        <input
          type="text"
          formControlName="name"
          class="w-full mt-1 p-2 rounded dark:bg-dark bg-surface border border-border-dark"
        />

        @if (form.controls.name.touched) {
          @if (form.controls.name.errors?.['required']) {
            <p class="text-error text-xs mt-1">Board name is required</p>
          }

          @if (form.controls.name.errors?.['duplicate']) {
            <p class="text-error text-xs mt-1">Board name already exists</p>
          }
        }
      </div>

      <div formArrayName="columns">
        <label class="text-xs text-foreground">Board Columns</label>

        @for (col of columnsArray.controls; let i = $index; track col) {
          <div [formGroupName]="i" class="flex gap-2 mt-2">
            <input
              type="text"
              formControlName="name"
              class="flex-1 p-2 rounded dark:bg-dark bg-surface border border-border-dark"
            />

            <button
              type="button"
              (click)="removeColumnField(i)"
              class="text-error px-2 cursor-pointer"
            >
              X
            </button>
          </div>

          @if (col.get('name')?.touched) {
            @if (col.get('name')?.errors?.['required']) {
              <p class="text-error text-xs">Column name is required</p>
            }

            @if (col.get('name')?.errors?.['duplicate']) {
              <p class="text-error text-xs">Column name already exists</p>
            }
          }
        }

        <button
          type="button"
          (click)="addColumnField()"
          class="mt-3 text-sm text-primary cursor-pointer block"
        >
          + Add New Column
        </button>
      </div>

      <div class="flex justify-between pt-4">
        <button
          type="button"
          (click)="closeModal()"
          class="px-4 py-2 rounded cursor-pointer text-primary dark:text-secondary-light bg-secondary-light dark:bg-border-dark"
        >
          Cancel
        </button>

        <button
          type="submit"
          [disabled]="form.invalid"
          class="px-4 py-2 rounded cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed text-secondary-light bg-primary"
        >
          Save Changes
        </button>
      </div>
    </form>
  </div>
</div>
