<section class="bg-[#20212C] h-full flex flex-col">
  <div
    class="bg-[#2B2C37] text-white h-24 flex items-center justify-between px-8 border-b border-[#3E3F4E]"
    (click)="uiService.closeBoardMenu()"
  >
    @if (kanbanService.activeBoardSignal(); as activeBoard) {
      <h2 class="text-2xl">
        {{ activeBoard.name }}
      </h2>
    }

    <div class="flex justify-center items-center gap-2">
      <button
        class="px-6 py-3 rounded-full bg-[#635FC7] hover:bg-[#A8A4FF]"
        [ngClass]="{
          'opacity-50 cursor-not-allowed': !kanbanService.canAddTaskSignal(),
          'cursor-pointer': kanbanService.canAddTaskSignal(),
        }"
        (click)="taskService.openAddTaskModal()"
      >
        + Add Task
      </button>

      <div class="relative">
        <button
          class="cursor-pointer p-2 rounded-sm transition-all hover:bg-[#3E3F4E]"
          (click)="uiService.toggleBoardMenu($event)"
        >
          <img src="assets/icon-vertical-ellipsis.svg" alt="vertical-ellipsis-icon" />
        </button>

        @if (uiService.isBoardMenuOpen()) {
          <div
            class="absolute right-0 mt-2 w-32 bg-[#2B2C37] border border-gray-600 rounded shadow-lg z-50"
          >
            <button
              class="w-full text-left px-3 py-2 hover:bg-[#3A3B47] text-sm text-white cursor-pointer"
              (click)="editCurrentBoard()"
            >
              Edit Board
            </button>

            <button
              class="w-full text-left px-3 py-2 hover:bg-red-500/20 text-sm text-red-400 cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed"
              (click)="deleteCurrentBoard()"
              [ngClass]="{
                'opacity-50 cursor-not-allowed': kanbanService.boardCountSignal() <= 1,
                'cursor-pointer': !(kanbanService.boardCountSignal() <= 1),
              }"
            >
              Delete Board
            </button>
          </div>
        }
      </div>
    </div>
  </div>

  <div class="flex gap-6 p-6 overflow-x-auto flex-1 overflow-y-auto">
    @if (kanbanService.activeBoardSignal(); as activeBoard) {
      @if (activeBoard.columns.length === 0) {
        <div class="flex flex-col items-center justify-center w-full text-center text-[#828fa3]">
          <p class="text-lg font-medium mb-4">
            This board is empty. Create a new column to get started.
          </p>

          <button
            class="px-6 py-3 rounded-full bg-[#635FC7] hover:bg-[#A8A4FF] text-white cursor-pointer"
            (click)="colService.openAddColumnModal()"
          >
            + New Column
          </button>
        </div>
      } @else {
        @for (column of activeBoard.columns; track column.id) {
          <!-- <app-column [column]="column" /> -->
          <app-column [columnId]="column.id" />
        }

        <div
          class="h-screen mt-8 px-20 shrink-0 flex items-center justify-center rounded-lg bg-[#2B2C37] text-[#828fa3] hover:text-[#635FC7] cursor-pointer transition"
          (click)="colService.openAddColumnModal()"
        >
          <span class="text-lg font-bold">+ New Column</span>
        </div>
      }
    }
  </div>

  @if (kanbanService.selectedTaskForModalSignal()) {
    <app-task-modal
      [task]="kanbanService.selectedTaskForModalSignal()!"
      (closed)="taskService.closeTaskModal()"
    />
  }

  @if (kanbanService.isAddTaskModalOpenSignal()) {
    <app-add-task-modal />
  }

  @if (kanbanService.isEditTaskModalOpenSignal()) {
    <app-edit-task-modal />
  }

  @if (kanbanService.isAddBoardModalOpenSignal()) {
    <app-add-board-modal />
  }

  @if (kanbanService.isEditBoardModalOpenSignal()) {
    <app-edit-board-modal />
  }

  @if (kanbanService.isAddColumnModalOpenSignal()) {
    <app-add-column-modal />
  }

  @if (uiService.toastMsgSignal()) {
    <div class="fixed bottom-6 right-6 bg-red-500 text-white px-4 py-2 rounded shadow-lg">
      {{ uiService.toastMsgSignal() }}
    </div>
  }

  <app-confirm-modal />
</section>
