<section class="dark:bg-charcoal bg-off-white h-full flex flex-col">
  <div
    class="bg-white dark:bg-dark-gray h-24 flex items-center justify-between px-8 border-b border-light-gray dark:border-medium-gray"
    (click)="uiService.closeBoardMenu()"
  >
    <button class="flex items-center gap-2 md:hidden" (click)="uiService.toggleMobileSidebar()">
      <img src="assets/logo-mobile.svg" alt="logo" />

      @if (kanbanService.activeBoardSignal(); as activeBoard) {
        <h2 class="text-lg md:text-2xl text-mostly-black dark:text-white font-extrabold truncate">
          {{ activeBoard.name }}
        </h2>
      }

      <img
        [src]="
          uiService.isMobileSidebarOpenSignal()
            ? 'assets/icon-chevron-up.svg'
            : 'assets/icon-chevron-down.svg'
        "
        alt="chevron"
      />
    </button>

    @if (kanbanService.activeBoardSignal(); as activeBoard) {
      <h2
        class="text-lg md:text-2xl text-mostly-black dark:text-white font-extrabold truncate hidden md:block"
      >
        {{ activeBoard.name }}
      </h2>
    }

    <div class="flex justify-center items-center gap-2">
      <button
        class="px-6 py-3 rounded-full bg-purple hover:bg-light-purple text-white font-bold transition-all flex items-center justify-center gap-2"
        [ngClass]="{
          'opacity-50 cursor-not-allowed': !kanbanService.canAddTaskSignal(),
          'cursor-pointer': kanbanService.canAddTaskSignal(),
        }"
        (click)="taskService.openAddTaskModal()"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" class="fill-current">
          <path d="M7.368 12V7.344H12V4.632H7.368V0H4.656v4.632H0v2.712h4.656V12z" />
        </svg>

        <span class="hidden md:inline"> Add New Task </span>
      </button>

      <div class="relative">
        <button
          class="cursor-pointer p-2 rounded-sm transition-all dark:hover:bg-medium-gray hover:bg-off-white shrink-0"
          (click)="uiService.toggleBoardMenu($event)"
        >
          <img src="assets/icon-vertical-ellipsis.svg" alt="vertical-ellipsis-icon" />
        </button>

        @if (uiService.isBoardMenuOpen()) {
          <div
            class="absolute right-0 mt-2 w-32 dark:bg-dark-gray bg-white rounded z-50 border-2 border-light-gray dark:border-medium-gray border-b-purple dark:border-b-purple"
          >
            <button
              class="w-full text-left px-3 py-2 dark:hover:bg-medium-gray hover:bg-off-white text-sm cursor-pointer text-gray transition-all"
              (click)="editCurrentBoard()"
            >
              Edit Board
            </button>

            <button
              class="w-full text-left px-3 py-2 hover:bg-red/20 text-sm text-red cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed transition-all"
              (click)="deleteCurrentBoard()"
              [ngClass]="{
                'opacity-50 cursor-not-allowed': kanbanService.boardCountSignal() <= 1,
                'cursor-pointer': !(kanbanService.boardCountSignal() <= 1),
              }"
            >
              Delete Board
            </button>
          </div>
        }
      </div>
    </div>
  </div>

  <div class="flex gap-6 p-6 overflow-x-auto flex-1 overflow-y-auto">
    @if (kanbanService.activeBoardSignal(); as activeBoard) {
      @if (activeBoard.columns.length === 0) {
        <div
          class="flex flex-col items-center justify-center w-full text-center text-gray font-bold"
        >
          <p class="text-lg font-medium mb-4">
            This board is empty. Create a new column to get started.
          </p>

          <button
            class="px-6 py-3 rounded-full bg-purple hover:bg-light-purple text-white cursor-pointer transition-all flex items-center justify-center gap-2"
            (click)="colService.openAddColumnModal()"
          >
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" class="fill-current">
              <path d="M7.368 12V7.344H12V4.632H7.368V0H4.656v4.632H0v2.712h4.656V12z" />
            </svg>
            New Column
          </button>
        </div>
      } @else {
        @for (column of activeBoard.columns; track column.id) {
          <app-column [columnId]="column.id" />
        }

        <div
          class="h-screen mt-8 px-16 shrink-0 flex items-center justify-center rounded-lg dark:bg-dark-gray bg-light-lavender text-gray dark:hover:text-light-purple hover:text-purple cursor-pointer transition-all gap-2"
          (click)="colService.openAddColumnModal()"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" class="fill-current">
            <path d="M7.368 12V7.344H12V4.632H7.368V0H4.656v4.632H0v2.712h4.656V12z" />
          </svg>
          <span class="text-lg font-bold"> New Column</span>
        </div>
      }
    }
  </div>

  @if (kanbanService.selectedTaskForModalSignal()) {
    <app-task-modal
      [task]="kanbanService.selectedTaskForModalSignal()!"
      (closed)="taskService.closeTaskModal()"
    />
  }

  @if (kanbanService.isAddTaskModalOpenSignal()) {
    <app-add-task-modal />
  }

  @if (kanbanService.isEditTaskModalOpenSignal()) {
    <app-edit-task-modal />
  }

  @if (kanbanService.isAddBoardModalOpenSignal()) {
    <app-add-board-modal />
  }

  @if (kanbanService.isEditBoardModalOpenSignal()) {
    <app-edit-board-modal />
  }

  @if (kanbanService.isAddColumnModalOpenSignal()) {
    <app-add-column-modal />
  }

  @if (uiService.toastMsgSignal()) {
    <div
      class="fixed bottom-6 right-6 text-white px-4 py-2 rounded shadow-lg md:text-base text-xs"
      [ngClass]="{
        'bg-red': uiService.toastMsgTypeSignal() == 'err',
        'bg-green-500': !(uiService.toastMsgTypeSignal() == 'err'),
      }"
    >
      {{ uiService.toastMsgSignal() }}
    </div>
  }

  <app-confirm-modal />
</section>
