@if (confirmModalService.isConfirmModalOpenSignal()) {
  <div class="fixed inset-0 bg-black/60 flex items-center justify-center z-50">
    <div
      class="w-[400px] rounded-lg p-6 space-y-4 dark:bg-dark-gray bg-white dark:text-white text-mostly-black"
    >
      <h2 class="text-lg font-bold text-red">
        {{ confirmModalService.confirmModalDataSignal()?.title }}
      </h2>

      <p class="text-sm dark:text-light-lavender text-gray">
        {{ confirmModalService.confirmModalDataSignal()?.message }}
      </p>

      <div class="flex justify-end gap-2 pt-4">
        <button
          class="px-4 py-2 rounded cursor-pointer text-purple dark:text-light-lavender bg-light-lavender hover:bg-lavender dark:bg-medium-gray hover:dark:bg-gray transition-all"
          (click)="confirmModalService.closeConfirmModal()"
        >
          Cancel
        </button>

        <button
          class="px-4 py-2 bg-red hover:bg-light-red rounded cursor-pointer text-light-lavender"
          (click)="confirmModalService.confirm()"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
}
