<aside class="bg-[#2B2C37] flex flex-col pr-3.5 border-e border-[#3E3F4E] h-screen">
  <img src="assets/logo-light.svg" alt="kanban-logo" class="px-7 pt-8 pb-12" />

  <h2 class="text-[#828fa3] text-xs tracking-widest font-bold uppercase pb-5 px-6">
    All Boards ({{ kanbanService.boardCountSignal() }})
  </h2>

  <ul>
    @for (board of kanbanService.boardsSignal(); track board.id) {
      <li
        class="board cursor-pointer flex items-center gap-3.5 py-3.5 px-6 text-sm font-bold text-left transition-all text-[#828fa3] hover:text-[#635fc7] hover:bg-[#635fc71a]"
        [class.active]="board.id === kanbanService.activeBoardIdSignal()"
        (click)="selectBoardById(board.id)"
      >
        <img src="assets/icon-board.svg" alt="board-icon" />
        <span class="text-xs font-bold p-1.5">
          {{ board.name }}
        </span>
      </li>
    }
  </ul>

  <div
    class="create-board-btn flex items-center gap-3.5 py-3.5 px-6 text-sm font-bold text-left transition-all text-[#635fc7] hover:bg-[#635fc71a] cursor-pointer"
  >
    <img src="assets/icon-board.svg" alt="board-icon" />
    <button (click)="boardService.openAddBoardModal()" class="cursor-pointer">
      + Create New Board
    </button>
  </div>

  <div
    class="flex items-center gap-3.5 py-3.5 px-6 text-sm font-bold text-left transition-all text-[#828fa3] hover:text-[#635fc7] hover:bg-[#635fc71a] cursor-pointer rounded-full"
    (click)="uiService.closeSidebar()"
  >
    <img src="assets/icon-hide-sidebar.svg" alt="hide-sidebar" />
    <button class="cursor-pointer">Hide Sidebar</button>
  </div>
</aside>
