.active {
  background: var(--color-primary);
  color: var(--color-surface);
  border-radius: 0 100px 100px 0;
  -webkit-border-radius: 0 100px 100px 0;
  -moz-border-radius: 0 100px 100px 0;
  -ms-border-radius: 0 100px 100px 0;
  -o-border-radius: 0 100px 100px 0;
}

.board,
.create-board-btn,
.hide-sidebar-btn {
  border-radius: 0 100px 100px 0;
}
