/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-purple: #635fc7;
  --color-light-purple: #a8a4ff;

  --color-mostly-black: #000112;
  --color-charcoal: #20212c;

  --color-dark-gray: #2b2c37;
  --color-medium-gray: #3e3f4e;
  --color-gray: #828fa3;
  --color-light-gray: #e4ebfa;
  --color-off-white: #f4f7fd;

  --color-red: #ea5555;
  --color-light-red: #ff9898;

  --color-lavender: #d8d7f1;
  --color-light-lavender: #f0effa;
}

* {
  font-family: 'Plus Jakarta Sans', sans-serif;
}
